# === Операционная система ===
.DS_Store
Thumbs.db
*.swp

# === Python ===
*.pyc
*.pyo
__pycache__/
*.env

# === Среда разработки ===
.vscode/
.idea/
*.log

# === Данные проекта ===
reddit_posts.csv  # Исключаем файл с результатами парсинга
*.db              # Если используются базы данных
*.sqlite          # SQLite файлы
*.sqlite3
# *.csv

# === Архивы и временные файлы ===
*.zip
*.tar.gz
*.tmp
*.bak
